header {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
    z-index: 5;
    @media screen and (min-width: 1024px) {
        padding-top: 1.65rem;
        padding-bottom: 1.65rem;
    }
    .container-fluid {
        position: relative;
    }
    .flex {
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: space-between;
    }
    a.logo {
        display: block;
        img {
            display: block;
            height: 2rem;
            @media screen and (min-width: 1200px) {
                height: 2.25rem;
            }
        }
    }
}
