.loader {
    position: fixed;
    // display: none;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    &::before {
        @include beforeafter('', block);
        position: absolute;
        width: 100%;
        height: 100%;
        background-color: rgba($black, 0.5);
    }
    &__text {
        color: $white;
        font-size: 0.875em;
        font-weight: 500;
    }
    &__animate {
        display: block;
        position: absolute;
        top: 50%;
        left: 50%;
        @include translate(-50%, -50%);
    }
    &__icon {
        position: relative;
        width: 50px;
        height: 50px;
        margin: auto;
        &::before,
        &::after {
            @include beforeafter('', block);
            position: absolute;
            top: 15px;
            width: 25px;
            height: 25px;
            @include border-radius(50%);
        }
        &::before {
            background: linear-gradient(90deg, $surface, darken($surface, 5%));
            animation: rotation1 1s linear infinite
        }
        &::after {
            background: linear-gradient(90deg, $primary, $primary-variant);
            animation: rotation2 1s linear infinite
        }
    }
}

@keyframes rotation1 {
    from {
        left: 5px;
        z-index: 1;
    }
    to {
        left: 25px;
    }
}

@keyframes rotation2 {
    from {
        right: 5px;
    }
    to {
        right: 25px;
    }
}
