input,
select {
    @include border-radius(0);
    @include appearance(none);
    &::-ms-expand {
        display: none;
    }
    &:focus {
        outline: 0;
    }
}

input[type*='number']::-webkit-inner-spin-button,
input[type*='number']::-webkit-outer-spin-button {
    @include opacity(0);
}

.form {
    font-size: 0;
}

.form__group {
    position: relative;
    >* {
        display: block;
    }
    .label {
        position: relative;
        display: block;
    }
    .form__group {
        &__placeholder {
            position: absolute;
            top: 1rem;
            left: 1rem;
            color: $secondary;
            font-size: 14px;
            @include transition(all 0.3s);
        }
        &__input {
            width: 100%;
            color: $black;
            font-size: 1rem;
            border-style: solid;
            border-color: $secondary;
            &:focus {
                border-color: $surface;
            }
        }
    }
    &.w-100 {
        max-width: none;
        width: 100%;
    }
    &--filled {
        .form__group__input {
            padding: 1.5rem 1rem 0.4rem;
            background-color: $gray-100;
            border-width: 0px 0px 1px;
        }
        .form__group {
            &--defalt {
                &:hover,
                &.hasValue {
                    .form__group__placeholder {
                        top: 0.2em;
                    }
                }
            }
            &--correct {
                &:hover,
                &.hasValue {
                    .form__group__placeholder {
                        color: $surface;
                    }
                    .form__group__input {
                        border-color: $surface;
                    }
                }
            }
            &--error {
                // .form__group__input {
                //     color: $primary;
                // }
                &:hover,
                &.hasValue {
                    .form__group__placeholder {
                        color: $primary;
                    }
                    .form__group__input {
                        border-color: $primary;
                    }
                }
            }
            &--hasicon {
                .form__group__input {
                    padding: 1.5rem 3rem 0.4rem 1rem;
                }
                i.icon {
                    top: 1.5rem;
                }
            }
            &--disabled {
                &.hasValue {
                    .form__group__placeholder {
                        top: 0.2em;
                    }
                }
            }
        }
    }
    &--outlined {
        .form__group__input {
            padding: 1rem 1rem 0.8rem;
            background-color: transparent;
            border-width: 1px;
        }
        .form__group {
            &--defalt {
                &:hover,
                &.hasValue {
                    .form__group__placeholder {
                        top: -0.8em;
                        padding: 0 2px;
                        font-size: 12px;
                        background-color: $white;
                    }
                }
            }
            &--correct {
                &:hover,
                &.hasValue {
                    .form__group__placeholder {
                        color: $surface;
                    }
                    .form__group__input {
                        border-color: $surface;
                    }
                }
            }
            &--hasicon {
                .form__group__input {
                    padding: 1.1rem 3rem 0.7rem 1rem;
                }
            }
            &--disabled {
                &.hasValue {
                    .form__group__placeholder {
                        top: -0.8em;
                        padding: 0 2px;
                        background-color: $white;
                    }
                    .form__group__input {
                        background-color: $white;
                        border-color: $secondary;
                    }
                }
            }
        }
    }
    &--defalt {
        &:hover {
            .form__group__placeholder {
                color: $surface;
            }
        }
    }
    &--hasicon {
        i.icon {
            position: absolute;
            top: 1.25rem;
            right: 1rem;
            font-size: 1rem;
            @include transition(all 0.3s);
        }
    }
    &--correct {
        .form__group__placeholder,
        .icon,
        .form__group__help--highlight {
            color: $surface !important;
        }
        .form__group__placeholder,
        .icon {
            color: $surface;
        }
        .form__group__help {
            display: none;
        }
        .form__group__input {
            border-color: $surface;
        }
    }
    &--error {
        .form__group__placeholder,
        .icon,
        .form__group__help--highlight {
            color: $primary !important;
        }
        .form__group__input {
            // color: $primary;
            border-color: $primary !important;
        }
        .select__group::before {
            color: $primary;
        }
    }
    &--undone {
        .form__group__placeholder {
            color: $primary;
        }
        .form__group__input {
            border-color: $primary;
        }
        &:hover,
        .hasValue {
            .form__group__placeholder {
                color: $surface;
            }
            .form__group__input {
                border-color: $surface;
            }
        }
    }
    &--disabled {
        >* {
            cursor: not-allowed;
        }
        .form__group__placeholder {
            color: $gray-200;
        }
        .form__group__input {
            color: $secondary;
            background-color: $gray-100;
            border-color: $gray-100;
            cursor: not-allowed;
        }
        &.hasValue {
            .form__group__placeholder {
                color: $secondary;
                font-size: 0.75rem;
            }
            .form__group__input {
                color: $secondary;
                border-color: $secondary;
            }
        }
    }
    &__help {
        padding-left: 1rem;
        padding-right: 1rem;
        margin-top: 5px;
        color: $secondary;
        font-size: 0.75rem;
        font-style: normal;
        line-height: 1;
        &--strong {
            padding-left: 0;
            padding-right: 0;
            margin-top: 10px;
            margin-bottom: 20px;
            color: $secondary-variant;
            font-size: 0.875rem;
        }
        +.form__group__help {
            margin-top: -10px;
        }
    }
}

.select__group {
    position: relative;
    font-size: 1rem;
    select {
        padding: 1rem 2rem 1rem 1rem;
        line-height: 1;
        border: 1px solid;
        cursor: pointer;
        @include background-size(0.78125rem);
        background-position: calc(100% - 0.78125rem) center;
        background-repeat: no-repeat;
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            height: 50px;
            background-size: 28px;
            background-position: calc(100% - 3.5px) center;
        }
    }
    &--100 {
        width: 100%;
        select {
            width: 100%;
        }
    }
    &.select__group {
        &--filled {
            select {
                background-color: $gray-100;
                background-image: url(../images/common/down.svg);
                border-color: $gray-100;
                &:hover {
                    color: $white;
                    background-color: $surface;
                    background-image: url(../images/common/down--white.svg);
                }
            }
        }
        &--outlined {
            select {
                background-color: $white;
                background-image: url(../images/common/down.svg);
                border-color: $secondary;
                &:hover {
                    color: $surface;
                    background-image: url(../images/common/down--surface.svg);
                }
            }
        }
    }
    &--undone {
        &.select__group {
            &--filled {
                select {
                    color: $primary;
                    background-color: $gray-100;
                    background-image: url(../images/common/down--primary.svg);
                    border-color: $gray-100;
                }
                &:hover {
                    select {
                        color: $white;
                        background-color: $surface;
                        background-image: url(../images/common/down--white.svg);
                    }
                }
            }
            &--outlined {
                select {
                    color: $primary;
                    background-color: $white;
                    background-image: url(../images/common/down--primary.svg);
                    border-color: $primary;
                }
                &:hover {
                    select {
                        color: $surface;
                        border-color: $surface;
                        background-image: url(../images/common/down--surface.svg);
                    }
                }
            }
        }
    }
    &--disabled {
        cursor: not-allowed;
        select {
            color: $gray-200;
            background-color: $gray-100;
            background-image: url(../images/common/down--disable.svg) !important;
            border-color: $gray-100;
            cursor: not-allowed;
        }
    }
    .select__group__help {
        display: block;
        margin-top: 5px;
        color: $secondary;
        font-size: 0.75rem;
        font-style: normal;
        line-height: 1;
        &--strong {
            margin-top: 10px;
            margin-bottom: 20px;
            font-size: 0.875rem;
        }
    }
}