@import 'normalize-version';
@import 'normalize/html5';
@import 'normalize/base';
@import 'normalize/links';
// @import 'normalize/typography';
@import 'normalize/embeds';
@import 'normalize/groups';
@import 'normalize/forms';
@import 'normalize/tables';

@import "_mixin";
@import "_variable";
@import "_common";
@import "_container";
@import "_typography";
@import "_button";
@import "_textfield";
@import "_header";
@import "_logo-set";
@import "_footer";

@import "_message";
@import "_loading";

.align-item-start {
    align-items: flex-start;
}

.scroll-bottom {
    position: absolute;
    bottom: 150px;
    left: 50%;
    width: 80px;
    height: 80px;
    padding: 15px 20px 0;
    font-weight: 500;
    color: $black;
    background-color: #fc0;
    @include border-radius(50%);
    @include translateX(-50%);
    @include animation(scroll 1s infinite alternate ease-in);
    &:hover {
        background-color: #fb0;
    }
    span {
        display: block;
        padding: 3px;
        font-size: 0.875rem;
        font-weight: normal;
        @include rotate(90deg);
    }
}

@include keyframes(scroll) {
    0% {
        bottom: 150px;
    }
    100% {
        bottom: 120px;
    }
}

body.printscreen {
    .logo__set {
        display: inline-flex;
        transform-origin: top left;
        @include scale(1.125);
    }
    section.opening {
        height: 100vh;
        > .container > .row {
            padding-top: 100px;
            padding-bottom: 100px;
        }
    }
    section.content,
    .smooth-scroll,
    footer {
        display: none;
    }
    h1 {
        font-size: $h1 * 1.5;
    }
    h2 {
        font-size: $h2 * 1.5;
    }
}
